// DEFAULT COLOR SCHEME
// ----------------------------------------------

// Import default color scheme
// ----------------------------------------------
@import "../../color-schemes/all-headers/custom/variables";
//@import "./scss/nifty-admin/color-schemes/dark/variables";