<div class="card">
    <h5 class="card-header">Food and Accommodation</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-base">

                    <ul class="nav nav-callout" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-coTabsBaseHome" type="button" role="tab" aria-controls="home" aria-selected="true">Items by Date</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-coTabsBaseProfile" type="button" role="tab" aria-controls="profile" aria-selected="false">Other Items</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-coTabsBaseContact" type="button" role="tab" aria-controls="contact" aria-selected="false">Other Requirements</button>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="_dm-coTabsBaseHome" class="tab-pane fade show active tab-date-group" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row mb-3">
                                <div class="col-md-">
                                    <button type="button" class="btn btn-primary float-end btn-add-date-group" data-groupnum="2">
                                        Add Item Group
                                    </button>
                                </div>
                            </div>
                            <div class="row mb-3 group-row-1">
                                <div class="col-md-12">
                                    <div class="card h-100 border-light">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-floating">
                                                        <input type="date" class="form-control" id="floatingInputGrid" placeholder="Date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                                        <label for="floatingInputGrid">Date</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive-xl">
                                                        <table class="table table-striped table-group-1">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">Unit</th>
                                                                    <th class="text-center" width="50%">Item Description</th>
                                                                    <th class="text-center">Quantity</th>
                                                                    <th class="text-center">Unit Cost</th>
                                                                    <th class="text-center">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="foodaccom-row-1-1">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Breakfast" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="300.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="1">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-1-2">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="AM Snacks" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="150.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="2">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-1-3">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Lunch" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="350.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="3">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-1-4">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="PM Snacks" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="150.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="4">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-1-5">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Dinner" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="350.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="5">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-1-6">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Accommodation (2 occupants per room)" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="800.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="1"
                                                                                data-rownum="6">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <a href="#"
                                                       class="btn btn-primary btn-add-group-item"
                                                       role="button"
                                                       data-bs-toggle="button"
                                                       data-groupnum="1"
                                                       data-rownum="6">Add Item</a>
                                                    <a href="#"
                                                       class="btn btn-primary btn-remove-group"
                                                       role="button"
                                                       data-bs-toggle="button"
                                                       data-groupnum="1">Remove Group</a>
                                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Duplicate Group</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3 group-row-2">
                                <div class="col-md-12">
                                    <div class="card h-100 border-light">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-floating">
                                                        <input type="date" class="form-control" id="floatingInputGrid" placeholder="Date" value=@DateTime.Now.ToString("yyyy-MM-dd")>
                                                        <label for="floatingInputGrid">Date</label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-group-2">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">Unit</th>
                                                                    <th class="text-center" width="50%">Item Description</th>
                                                                    <th class="text-center">Quantity</th>
                                                                    <th class="text-center">Unit Cost</th>
                                                                    <th class="text-center">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="foodaccom-row-2-1">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Breakfast" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="300.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="2"
                                                                                data-rownum="1">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-2-2">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="AM Snacks" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="150.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="2"
                                                                                data-rownum="2">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr class="foodaccom-row-2-3">
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="pax" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control" value="Lunch" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-center" value="50" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="form-control text-end" value="350.00" />
                                                                    </td>
                                                                    <td>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-icon btn-danger btn-delete-item-row"
                                                                                data-groupnum="2"
                                                                                data-rownum="3">
                                                                            <i class="ti-trash"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <a href="#"
                                                       class="btn btn-primary btn-add-group-item"
                                                       role="button"
                                                       data-bs-toggle="button"
                                                       data-groupnum="2"
                                                       data-rownum="3">Add Item</a>
                                                    <a href="#"
                                                       class="btn btn-primary btn-remove-group"
                                                       role="button"
                                                       data-bs-toggle="button"
                                                       data-groupnum="2">Remove Group</a>
                                                    <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Duplicate Group</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="_dm-coTabsBaseProfile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive-xl">
                                        <table class="table table-striped table-group-others">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Unit</th>
                                                    <th class="text-center" width="50%">Item Description</th>
                                                    <th class="text-center">Quantity</th>
                                                    <th class="text-center">Unit Cost</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="foodaccom-others-row-1">
                                                    <td>
                                                        <input type="text" class="form-control text-center" value="day" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="Training hall (can accommodate 100 pax)" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-center" value="3" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control text-end" value=" 5,000.00" />
                                                    </td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-sm btn-icon btn-danger btn-delete-others-item-row"
                                                                data-rownum="1">
                                                            <i class="ti-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="col-md-12 text-center">
                                        <a href="#"
                                           class="btn btn-primary btn-add-others-item"
                                           role="button"
                                           data-bs-toggle="button"
                                           data-rownum="1">Add Item</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="_dm-coTabsBaseContact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="table-responsive-xl">
                                        <table class="table table-striped  table-group-requirement">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">No.</th>
                                                    <th class="text-center" width="80%">Requirements</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="foodaccom-requirement-row-1">
                                                    <td class="text-center reqno">1</td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button"
                                                                class="btn btn-sm btn-icon btn-danger btn-delete-requirement-item-row"
                                                                data-rownum="1">
                                                            <i class="ti-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="foodaccom-requirement-row-2">
                                                    <td class="text-center reqno">2</td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button"
                                                                class="btn btn-sm btn-icon btn-danger btn-delete-requirement-item-row"
                                                                data-rownum="2">
                                                            <i class="ti-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="foodaccom-requirement-row-3">
                                                    <td class="text-center reqno">3</td>
                                                    <td>
                                                        <input type="text" class="form-control" />
                                                    </td>
                                                    <td class="text-center">
                                                        <button type="button"
                                                                class="btn btn-sm btn-icon btn-danger btn-delete-requirement-item-row"
                                                                data-rownum="3">
                                                            <i class="ti-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <a href="#"
                                       class="btn btn-primary btn-add-requirement-item"
                                       role="button"
                                       data-bs-toggle="button"
                                       data-rownum="3">Add Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>