@{
    ViewData["Title"] = "Purchase Request";
}


<section id="content" class="content">

    <div class="content__header content__boxed">

        <div class="content__wrap" ">
        @*<div class="row">
            <div class="col-md-12 mb-3">
            <h2 class="page-title">Procurement Management Information System</h2>
            </div>
            </div>*@
            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="./layouts.html">Modules</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Purchase Request</li>
                </ol>
            </nav>
            <!-- END : Breadcrumb -->

            <h3 class="mb-0 mt-2 text-primary">@ViewData["Title"]</h3>

            <!--<p class="lead">
                The navigation will transform into a small vertical bar that will save you space for the content to be displayed on the screen.
            </p>-->

        </div>

    </div>

    <div class="content__boxed">
        <div class="content__wrap">
            <div class="row justify-content-md-center">
                <div class="col-xl-9">
                    <div class="card">
                        <div class="card-header toolbar">
                            <div class="toolbar-start">
                                <h5 class="m-0">Edit Purchase Request</h5>
                            </div>
                            <div class="toolbar-end">
                               @* <button type="button" class="btn btn-primary">
                                    <i class="ti-printer fs-5 me-2"></i> Print Record
                                </button>*@
                                <button type="button" class="btn btn-primary">
                                    <i class="ti-save fs-5 me-2"></i> Save Record
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3 ">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" disabled class="form-control" id="floatingInputGrid" placeholder="PR No." value="23-07-A-171">
                                        <label for="floatingInputGrid">PR No.</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                                <option>Select Type</option>
                                                <option value="1" selected>Food and Accomodation</option>
                                                <option value="2">Vehicle Rental</option>
                                                <option value="3">Supplies</option>
                                            </select>
                                            <label for="floatingSelectGrid">Purchase Request Type</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                            <option selected>Select division</option>
                                            <option value="1">ACD</option>
                                            <option value="2">AD</option>
                                            <option value="3" selected>PMITD</option>
                                        </select>
                                        <label for="floatingSelectGrid">Division</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Responsibility Center" value="PM1">
                                        <label for="floatingInputGrid">Responsibility Center</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Requested by" value="Jonathan Alex Lagmay" >
                                        <label for="floatingInputGrid">Requested by</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingInputGrid" placeholder="Designation" value="Information Systems Analyst II">
                                        <label for="floatingInputGrid">Designation</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Enter purpose here" id="floatingTextarea2" style="height: 100px">Training and workshop in Tagaytay City, Cavite</textarea>
                                    <label for="floatingTextarea2">Purpose</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-md-center mt-3">
                <div class="col-xl-9">
                    <partial name="_FoodAndAccommodation" />
                </div>
            </div>
        </div>
    </div>
    
</section>
