/* -- ROOT -- */
/* ---------------------------------------------- */
.root {
  display: grid;
  gap: 0 0;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  width: 100%;
}

:root {
  --bs-body-bg: #edf1f6;
  --bs-body-color: #7a878e;
  --bs-card-bg: #fff;
  --bs-dropdown-bg: #fff;
  --bs-headings-color: #373c43;
  --bs-muted-color: #a8b1b8;
  --bs-link-color: #508aa8;
  --bs-comp-active-bg: #508aa8;
  --bs-comp-active-color: #fff;
  --bs-border-color: rgba(0, 0, 0, 0.07);
  --bs-body-bg-rgb: 237, 241, 246;
  --bs-body-color-rgb: 122, 135, 142;
  --bs-card-bg-rgb: 255, 255, 255;
  --bs-dropdown-bg-rgb: 255, 255, 255;
  --bs-headings-color-rgb: 55, 60, 67;
  --bs-muted-color-rgb: 168, 177, 184;
  --bs-link-color-rgb: 80, 138, 168;
  --bs-comp-active-bg-rgb: 80, 138, 168;
  --bs-comp-active-color-rgb: 255, 255, 255;
  --bs-border-radius: 0.4375rem;
}

body {
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

/* -- REBOOT -- */
/* ---------------------------------------------- */
hr, .vr {
  background-color: rgba(0, 0, 0, 0.07);
  opacity: 1;
}

/* -- CONTENTS -- */
/* ---------------------------------------------- */
.content {
  background-color: #edf1f6;
  color: #7a878e;
  display: flex;
  flex-direction: column;
  grid-area: 2/2/3/3;
  width: 100%;
  min-width: 0;
  max-width: 100vw;
}
.content .page-title {
  color: #508aa8;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.content__wrap {
  padding: 1rem 1rem;
}

.root:not(.hd--expanded) .content__header > .content__wrap {
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .content__wrap {
    padding-inline: 1.25rem;
  }
}
@media (min-width: 992px) {
  .content__wrap {
    padding-inline: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .content__wrap {
    padding-inline: 1.25rem;
  }
}

.content__boxed {
  background-color: #edf1f6;
}

.content__header {
  background-color: #edf1f6;
}

/* -- HEADER -- */
/* ---------------------------------------------- */
.header {
  background-color: #508aa8;
  color: #e5edf2;
  grid-area: 1/1/2/3;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 3.125rem;
  padding-inline: 1rem;
}

.header__brand {
  background-color: transparent;
  color: white;
  align-items: center;
  display: flex;
  height: 100%;
}

.brand-wrap {
  align-items: center;
  display: flex;
  position: relative;
}
.brand-wrap:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.brand-img {
  margin-inline-end: 0.5rem;
  text-align: center;
  width: auto;
}
.brand-img img {
  width: 27px;
  height: 27px;
}

.brand-title {
  display: none;
}

.header__content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
}

.header__content-start {
  flex-grow: 1;
}

.header__content-start, .header__content-end {
  align-items: center;
  display: flex;
  gap: 0.3rem;
}
.header__content-start > *, .header__content-end > * {
  margin: 0 -0.1rem;
}

.header__btn {
  border-radius: 0.875rem;
  box-shadow: none !important;
  color: inherit;
  font-size: 0.8rem;
}
.header__btn:hover, .header__btn:focus {
  background-color: #44758f;
  color: white;
}

.hd--sticky .header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.hd--sticky.mn--sticky.mn--max .mainnav .mainnav__inner {
  height: calc( 100vh - 3.125rem );
  top: 3.125rem;
}

@media (min-width: 768px) {
  .brand-img, .header-searchbox {
    margin: 0;
  }
  .brand-title {
    color: white !important;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-inline: 0.5rem;
    text-decoration: none !important;
  }
}
@media (min-width: 992px) {
  .mn--max .header__brand {
    transition: max-width 0.5s ease;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header__inner {
    padding-inline: 1.25rem;
  }
}
@media (min-width: 992px) {
  .header__inner {
    padding-inline: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .header__inner {
    padding-inline: 1.25rem;
  }
}

/* -- MAINNAV MENU LINK -- */
/* ---------------------------------------------- */
.mainnav__caption {
  color: #373c43;
}

.mainnav__inner .mainnav__menu .nav-link {
  padding-block: 0.59rem;
}
.mainnav__inner .mainnav__menu > .nav-item > .nav-link {
  display: flex;
}
.mainnav__inner .mainnav__menu > .nav-item > .nav-link.active {
  background-color: #508aa8;
  border-radius: 0.4375rem;
  box-shadow: none;
  color: #fff;
  font-weight: bold;
}
.mainnav__inner .mainnav__menu > .nav-item > .nav-link.active i, .mainnav__inner .mainnav__menu > .nav-item > .nav-link.active .nav-icon {
  color: inherit !important;
}
.mainnav__inner .mainnav__menu > .nav-item > .nav-link:not(.collapsed):not(.active) {
  color: #508aa8;
}
.root .mainnav__inner .nav-link {
  color: #7a878e;
}
.root .mainnav__inner .nav-link.disabled {
  opacity: 0.4;
}
.root .mainnav__inner .nav-link:hover {
  color: #508aa8;
}
.root .mainnav__inner .nav-link.active ~ .nav .active {
  color: #508aa8;
}
.root .mainnav__inner .nav-link.active ~ .nav .active:hover {
  color: #508aa8;
}
.root .mainnav__inner .nav-link i, .root .mainnav__inner .nav-link .nav-icon {
  color: #69828f !important;
}

.mainnav__menu .mininav-content {
  flex-direction: column;
  flex-wrap: nowrap;
}
.mainnav__menu .mininav-toggle {
  align-items: center;
  display: flex;
}
.mainnav__menu .mininav-toggle > .nav-label, .mainnav__menu .mininav-toggle .nav-icon, .mainnav__menu .mininav-toggle i {
  pointer-events: none;
}
.mainnav__menu .mininav-toggle .nav-label {
  display: inline-block;
}
.mainnav__menu .has-sub > .mininav-toggle:not(.has-badge):after {
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  content: "";
  display: inline-block;
  height: 0.55em;
  margin-left: auto;
  transform: rotate(135deg);
  transition: transform 0.25s;
  width: 0.55em;
}
.mainnav__menu .has-sub > .mininav-toggle.collapsed:after {
  transform: rotate(45deg);
}

.root:not(.mn--min) .mainnav__menu .has-sub.open > .mininav-content {
  display: block;
  height: auto !important;
}
.root:not(.mn--min) .mainnav__menu .has-sub.open > .mininav-toggle:after {
  transition: none !important;
  transform: rotate(135deg) !important;
}

@media (max-width: 991.98px) {
  .root .mininav-content {
    position: static !important;
    transform: none !important;
  }
  .root .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(55, 60, 67, 0.45);
    border-radius: 0.4375rem;
    margin-inline-start: calc( 0.25em + 1rem ) !important;
    padding-inline-start: 0.5rem;
  }
  .root .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content > .nav-item > .nav-link {
    padding-inline: 0.75em;
  }
  .root .mainnav__menu > .nav-item.has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(55, 60, 67, 0.45);
    margin-inline-start: 1.75em !important;
  }
  .root .mainnav__menu > .nav-item.has-sub > .mininav-content > .nav-item > .nav-link {
    padding-inline-start: calc( 0.5em + 1rem );
  }
}
@media (min-width: 992px) {
  .root:not(.mn--min) .mininav-content {
    position: static !important;
    transform: none !important;
  }
  .root:not(.mn--min) .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(55, 60, 67, 0.45);
    margin-inline-start: calc( 0.25em + 1rem );
    padding-inline-start: 0.5rem;
  }
  .root:not(.mn--min) .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content > .nav-item > .nav-link {
    padding-inline: 0.75em;
  }
  .root:not(.mn--min) .mainnav__menu > .nav-item.has-sub > .mininav-content {
    border-inline-start: 1px dashed rgba(55, 60, 67, 0.45);
    margin-inline-start: 1.75em;
  }
  .root:not(.mn--min) .mainnav__menu > .nav-item.has-sub > .mininav-content > .nav-item > .nav-link {
    padding-inline-start: calc( 0.5em + 1rem );
  }
}

/* -- MAIN NAVIGATION - MINI / COLLAPSED MODE -- */
/* ---------------------------------------------- */
@media (min-width: 992px) {
  .mn--min {
    padding: 0 !important;
  }
  .mn--min .mainnav {
    max-width: 3.75rem;
    transition: max-width 0.5s ease;
    will-change: max-width;
    z-index: auto;
  }
  .mn--min .header__inner {
    padding-left: 0;
  }
  .mn--min .header__brand {
    justify-content: center;
    max-width: 3.75rem;
    padding-inline-start: 0;
    transition: max-width 0.5s ease;
    width: 100%;
    will-change: max-width;
  }
  .mn--min.mn--sticky.hd--expanded .content__header::before {
    z-index: 100;
  }
  .mn--min.mn--sticky.hd--expanded .mainnav {
    z-index: 99;
  }
  .mn--min.hd--sticky .mainnav__inner {
    top: 3.125rem;
    z-index: auto;
  }
  .mn--sticky.mn--min.hd--sticky .mainnav__inner {
    height: calc( 100vh - 3.125rem );
  }
  .mn--min .mainnav__profile .mininav-content {
    min-width: 13rem;
  }
  .mn--min .mainnav__avatar {
    height: auto;
    width: 2rem;
  }
  .mn--min .d-mn-min {
    display: block;
  }
  .mn--min .d-mn-max,
  .mn--min .d-mn-max:not(.show),
  .mn--min .brand-title,
  .mn--min .mainnav__caption,
  .mn--min .mainnav__menu > .has-sub > .nav-link:after,
  .mn--min .mainnav__menu > .nav-item > .nav-link .nav-label:not(.show) {
    display: none;
  }
  .mn--min .mainnav__menu > .nav-item > .nav-link {
    justify-content: center;
  }
  .mn--min .mainnav__menu > .nav-item > .nav-link i, .mn--min .mainnav__menu > .nav-item > .nav-link .nav-icon {
    color: #7a878e !important;
  }
  .mn--min .mainnav__menu > .nav-item > .nav-link.active {
    background-color: #508aa8;
    color: #fff;
  }
  .mn--min .mainnav__menu > .nav-item > .nav-link.active i, .mn--min .mainnav__menu > .nav-item > .nav-link.active .nav-icon {
    color: #fff !important;
  }
  .mn--min .mainnav__menu > .nav-item, .mn--min .mainnav__menu > .nav-item > .nav-link i {
    margin: 0 !important;
  }
  .mn--min .mainnav__menu > .nav-item {
    margin-bottom: 0.25rem !important;
    width: 100%;
  }
  .mn--min .mainnav__menu > .has-sub .has-sub > .nav-link {
    gap: 2.5rem;
  }
  .mn--min .mininav-toggle {
    cursor: pointer;
  }
  .mn--min .mininav-toggle .nav-label {
    color: #7a878e;
  }
  .mn--min .mininav-content {
    padding: 0.5rem 0.25rem;
    background-color: #fff;
    border-radius: 0.4375rem;
    box-shadow: 0.25rem 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    min-width: 11rem;
    max-width: 19rem;
    white-space: nowrap;
    margin-inline-start: max( $content-gutter-x, 0.25rem ) !important;
  }
  .mn--min .mininav-content .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mn--min .mininav-content.show {
    position: fixed;
    top: -100rem;
    z-index: 100;
    transition: transform 0.15s linear 0.1s;
  }
  .mn--min .mininav-content:not(.nav) {
    padding: 0.75rem 0.25rem;
  }
  .mn--min .mininav-content.nav-label {
    padding: 0.75rem 1.5rem;
  }
  .mn--min .mininav-content.collapsing {
    transition: 0s !important;
  }
  .mn--min .mainnav__menu > .nav-item.has-sub .has-sub > .mininav-content {
    margin-inline-start: 0.25rem !important;
  }
  .mn--min .mainnav__top-content {
    flex: 1 1 0;
    min-height: 0 !important;
  }
  .mn--min .mainnav__bottom-content {
    z-index: 100;
  }
}

/* -- MAIN NAVIGATION - MAX / EXPANDED MODE -- */
/* ---------------------------------------------- */
@media (min-width: 992px) {
  .mn--max .mainnav {
    position: relative;
  }
  .mn--max .mainnav__inner {
    position: absolute;
  }
  .mn--max .mainnav {
    transition: max-width 0.5s ease;
    will-change: max-width;
  }
  .mn--max .header__inner {
    padding-inline-start: 0;
  }
  .mn--max .header__content, .mn--min .header__content {
    padding-inline-start: 1.25rem;
  }
  .mn--max .header__brand {
    padding-inline-start: 1.25rem;
    max-width: 13.75rem;
    width: 13.75rem;
    will-change: max-width;
  }
}
@media (min-width: 1200px) {
  .mn--max .header__brand {
    padding-inline-start: 1.25rem;
  }
}

/* -- DEFAULT MAIN NAVIGATION -- */
/* ---------------------------------------------- */
.mainnav {
  display: flex;
  grid-area: 2/1/3/2;
  max-width: 13.75rem;
  width: 13.75rem;
}
.mainnav .scrollable-content {
  scrollbar-width: none;
}

.mainnav__inner {
  background-color: #fff;
  color: #7a878e;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.mainnav__inner :where(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6):not(.mainnav__caption) {
  color: #373c43;
}
.mainnav__inner :where(.border-top, .border-end, .border-bottom, .border-start) {
  border-color: #e1e2e3 !important;
}
.mainnav__inner .dropdown-toggle:after {
  color: #373c43;
}
.mainnav__inner .text-muted {
  color: #c3c5c7 !important;
}

.d-mn-max, .d-mn-max.collapse {
  display: block;
}

.d-mn-min {
  display: none;
}

.mainnav__avatar.border {
  padding: 0.1rem;
}

.mainnav__top-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.mainnav__top-content.os-host-overflow {
  overflow: visible;
}

.mainnav__bottom-content {
  background-color: #fff;
  bottom: 0;
  margin-top: auto;
  position: sticky;
}

.mainnav__top-content, .mainnav__bottom-content {
  padding-inline: 0.75rem;
}

@media (min-width: 768px) {
  .mainnav__top-content, .mainnav__bottom-content {
    padding-inline: max( $mainnav-padding , 0.25rem );
  }
}
@media (min-width: 992px) {
  .mainnav__top-content, .mainnav__bottom-content {
    padding-inline: max( $mainnav-padding , 0.25rem );
  }
}
@media (min-width: 1200px) {
  .mainnav__top-content, .mainnav__bottom-content {
    padding-inline: max( $mainnav-padding , 0.25rem );
  }
}
.mn--show .mainnav {
  transform: translateX(0);
  z-index: 9999;
}
.mn--show .mainnav, .mainnav {
  transition: transform 0.5s ease;
}

.mn--sticky .mainnav__inner {
  height: 100vh;
  position: sticky;
  top: 0;
}

.root:not(.mn--max):not(.mn--min) .mainnav {
  position: absolute;
  inset: 0 auto;
}
.root:not(.mn--max):not(.mn--min):not(.mn--show) .mainnav {
  transform: translateX(-13.8125rem);
  z-index: 1002;
}

@media (max-width: 991.98px) {
  .mainnav__menu .mininav-toggle .nav-label {
    position: static !important;
    transform: none !important;
  }
  .mn--min .mainnav {
    inset: 0 auto;
    position: absolute;
  }
  .mn--min:not(.mn--show) .mainnav {
    transform: translateX(-13.8125rem);
    z-index: 1002;
  }
}
@media (max-width: 991.98px) {
  .mn--max .mainnav {
    inset: 0 auto;
    position: absolute;
  }
  .mn--max:not(.mn--show) .mainnav {
    transform: translateX(-13.8125rem);
    z-index: 1002;
  }
}

/* -- BACKDROP FOR MAIN NAVIGATION -- */
/* ---------------------------------------------- */
.root:before {
  background-color: rgba(0, 0, 0, 0.55);
  content: "";
  display: block;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
.root.mn--show:before {
  cursor: pointer;
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
  z-index: 9998;
}

/* -- SCROLLBARS -- */
/* ---------------------------------------------- */
html, body, .scrollable-content {
  scrollbar-color: rgba(135, 139, 144, 0.5) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}
html::-webkit-scrollbar, body::-webkit-scrollbar, .scrollable-content::-webkit-scrollbar {
  width: 0.1875rem;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, .scrollable-content::-webkit-scrollbar-track {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, .scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(135, 139, 144, 0.5);
  border-radius: 2rem;
}
html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover, .scrollable-content::-webkit-scrollbar-thumb:hover {
  background: rgba(135, 139, 144, 0.5);
  width: 0.625rem;
}
    